<section class="pt-12 pb-6 md:py-12">
    <div class="flex flex-col md:grid md:grid-cols-2 items-center">
        <hgroup>
            <slot name="heading" />
            <slot name="lead" />
        </hgroup>
        <slot name="image" />
    </div>
</section>
