<section class="py-12">
    <div class="grid grid-cols-2 items-center">
        <hgroup>
            <h1 class="font-handwriting text-ink text-4xl lg:text-6xl leading-normal">Hello,<br />I'm Dean.</h1>
            <p class="font-handwriting text-ink text-xl md:text-2xl leading-normal mt-2 md:mt-4 xl:mt-6">
                Front-end focused web developer with 3 years exeprience. Here you'll find my thoughs, experiments, and things I enjoy building.
            </p>
        </hgroup>
        <div class="col-start-2 mix-blend-multiply">
            <img
                src="./hero.webp"
                alt="Hand drawn style hero campfire image"
                width="600"
                height="400"
                loading="eager"
                class="max-w-150"
            />
        </div>
    </div>
</section>
