<section class="pt-12 pb-6 md:py-12">
    <div class="flex flex-col md:grid md:grid-cols-2 items-center">
        <hgroup>
            <slot name="heading" />
            <slot name="lead" />
        </hgroup>
        <div class="col-start-2 mix-blend-multiply">
            <img
                src="./hero.webp"
                alt="Hand drawn style hero campfire image"
                width="600"
                height="400"
                loading="eager"
                class="max-w-150"
            />
        </div>
    </div>
</section>
