---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/hero/Hero.astro";
import HeroTitle from "../../components/hero/HeroTitle.astro";
import HeroLead from "../../components/hero/HeroLead.astro";
import HeroImage from "../../components/hero/HeroImage.astro";
import Divider from "../../components/borders/Divider.astro";
import Contents from "../../components/UI/Contents.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const journals = await getCollection("journal");
    return journals.map((journal: any) => ({
        params: { slug: journal.id },
        props: { journal },
    }));
}

const { journal } = Astro.props;
const { Content } = await render(journal);

const date = new Date(journal.data.date);
const formattedDate = date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<Layout>
    <Hero>
        <HeroTitle
            slot="heading"
            title={journal.data.title}
        />
        <span slot="lead">
            <HeroLead lead={journal.data.lead} />
            <p class="font-handwriting text-ink text-sm md:text-base leading-normal mt-2">Date: {formattedDate}</p>
        </span>
        <HeroImage
            slot="image"
            src="/hero.webp"
            alt="Hand drawn style hero campfire image"
            width="600"
            height="400"
        />
    </Hero>
    <Divider />
    <Contents>
        <Content />
    </Contents>
</Layout>
