---
const year = new Date().getFullYear();
---

<footer class="bg-ink p-6 text-center">
    <p class="font-heading text-primary text-sm">Copyright © {year} Dean Baylem | All Rights Reserved</p>
</footer>
