---
import Hero from "../components/hero/Hero.astro";
import HeroTitle from "../components/hero/HeroTitle.astro";
import HeroLead from "../components/hero/HeroLead.astro";
import HeroImage from "../components/hero/HeroImage.astro";
import Layout from "../layouts/Layout.astro";
import Divider from "../components/borders/Divider.astro";
import JournalItem from "../components/work/JournalItem.astro";
import LinkButton from "../components/UI/LinkButton.astro";
import { journalEntries } from "../utils/journalContent";
---

<Layout>
    <Hero>
        <HeroTitle
            slot="heading"
            title={"Personal Journal"}
        />
        <HeroLead
            slot="lead"
            lead={"A collection of my personal thoughts, catalogues of experiences, and notes on various topics."}
        />
        <HeroImage
            slot="image"
            src="/hero.webp"
            alt="Hand drawn style hero campfire image"
            width="600"
            height="400"
        />
    </Hero>
    <Divider />
    <section>
        {
            journalEntries.length > 0 ? (
                <ul>
                    {journalEntries.map((entry) => (
                        <JournalItem
                            link={entry.link}
                            title={entry.title}
                            date={entry.date}
                            datetime={entry.datetime}
                        />
                    ))}
                </ul>
            ) : (
                <div class="mt-6 flex flex-col gap-4">
                    <p class="font-body font-bold text-ink md:text-lg">
                        No journal entries found.
                        <br />
                        Please check back later.
                    </p>
                    <span class="block w-fit">
                        <LinkButton
                            text="Return Home"
                            href="/"
                            target="_self"
                            type="primary"
                        />
                    </span>
                </div>
            )
        }
    </section>
</Layout>
