---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/hero/Hero.astro";
import HeroTitle from "../../components/hero/HeroTitle.astro";
import HeroLead from "../../components/hero/HeroLead.astro";
import HeroImage from "../../components/hero/HeroImage.astro";
import Divider from "../../components/borders/Divider.astro";
import Contents from "../../components/UI/Contents.astro";
import ContentSkillList from "../../components/UI/ContentSkillList.astro";
import LinkButton from "../../components/UI/LinkButton.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("project");
    return projects.map((project: any) => ({
        params: { slug: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);

const date = new Date(project.data.date);
const formattedDate = date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<Layout>
    <Hero>
        <HeroTitle
            slot="heading"
            title={project.data.title}
        />
        <span slot="lead">
            <HeroLead lead={project.data.lead} />
            <p class="font-handwriting text-ink text-sm md:text-base leading-normal mt-2">Date: {formattedDate}</p>
        </span>
        <HeroImage
            slot="image"
            src="/hero.webp"
            alt="Hand drawn style hero campfire image"
            width="600"
            height="400"
        />
    </Hero>
    <Divider />
    <Contents>
        <ContentSkillList
            slot="skills"
            tags={project.data.tags}
        />
        <Content />
        <LinkButton
            slot="link"
            text="Back to Projects"
            href="/projects"
            type="primary"
            target="_self"
        />
    </Contents>
</Layout>
