<div class="grid grid-cols-[1fr_auto_1fr] gap-6 items-center">
    <span class="block h-px bg-accent opacity-80 w-full"></span>
    <div>
        <img
            src="./star.webp"
            width="50"
            height="50"
            loading="lazy"
            alt="star icon"
        />
    </div>
    <span class="block h-px bg-accent opacity-60 w-full"></span>
</div>
